.example-full-width {
    width: 100%;
  }

span.headTitle {
    font-size: 13px;
    margin-bottom: 8vw;
    text-align: center;

}

.overhead{
    text-align: center;
    margin-bottom: 0;
}

.mat-dialog-content {
    background-color: #e8e8e8;
    margin-top: 19px;
}

.retrivwpwd {
    margin-left: 189px;
    margin-bottom: 20px;
}

.headTitle2 {
    font-size: 13px;
    margin-left: 4pc;
}

.retrivwpwd2{
    margin-left: 111px;
    margin-bottom: 20px;
}