<div class="main-content">

    <div class="splachcontainer">
        <h1>Welcome to Charlie Analytics</h1>
        <h4>
            <span>Use the menu on the left to get started</span>
            <br />
            <br />
            <span>Quick Start Guide :</span>

            <ol>
                <li>Import your data (click Manage Data)</li>
                <li>Analyze your data (click Analyze Data)</li>
                <li>Track your data (click Track Data)</li>
            </ol>
        </h4>
        <button class="splahbtn" [routerLink]="['/analysis/manage-data']" mat-stroked-button>Start-> </button>
    </div>

</div>